<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="xpay" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label><![CDATA[Xpay]]></label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label><![CDATA[Enabled]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[Title]]></label>
                </field>

                <field id="description" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[Description]]></label>
                    <comment><![CDATA[This controls the description which the user sees during checkout]]></comment>
                </field>
                <field id="xpay_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[XPAY API URL]]></label>
                    <comment><![CDATA[Given to Partner by XPAY]]></comment>
                </field>
                <field id="xpay_public_key" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Xpay public key]]></label>
                    <comment><![CDATA[Given to Partner by XPAY]]></comment>
                </field>
                <field id="pid" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Partner ID]]></label>
                    <comment><![CDATA[Given to Partner by XPAY]]></comment>
                </field>
                <field id="identified_by" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[User identified by]]></label>
                    <comment><![CDATA[Which user info will be used for identification]]></comment>
                    <source_model>Stagem\Xpay\Model\System\Config\Source\IdentifiedByList</source_model>
                </field>
                <field id="return_url" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[Return URL]]></label>
                    <comment><![CDATA[URL of success page]]></comment>
                </field>
                <field id="show_payment_info" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[Show payment info]]></label>
                    <comment><![CDATA[Show payment details in widget]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label><![CDATA[Sort Order]]></label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label><![CDATA[New Order Status]]></label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label><![CDATA[Payment from Applicable Countries]]></label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label><![CDATA[Payment from Specific Countries]]></label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
